body {
    width: 1800px;
}
div {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    float: left;
    text-align: center;
    line-height: 0;
}

.white {
    background: white;
}

.black {
    background: black;
    color: white;   
}

div:before, div:after {
	content: '';
	display: block;
	padding-top: 50%;
}